
.product__item{
    cursor: pointer;
    margin-top: 30px;
}



.product__info h3{
    font-size: 1.1rem;
    color: var(--primary-color);
    font-weight: 600;
    margin-top: 15px;
}

.product__info a:hover{
    color: inherit;
}

.product__info span{
    font-size: 0.9rem;
    color: black;

}

.product__card-bottom .price{
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 500;
}

.product__card-bottom span i {
    font-style: 1.2rem;
    padding: 5px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 50px;
}

.h_a{
    margin-left: 35%;
    margin-right: 10px;
    color: red !important;
 }
 .helo{
    background: #fc6c85 !important;
 }


 /* Add these styles to your product-card.css */

.product__img {
    position: relative; /* Make the parent element relative for positioning */
  }
  
  .discount__circle {
    position: absolute;
    top: 10px; /* Adjust the positioning based on your design */
    right: 30px; /* Adjust the positioning based on your design */
    width: 40px;
    height: 40px;
    background-color: #e74c3c; /* Set the background color of the circle */
    border-radius: 50%; /* Make it a circle */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .discount__percentage {
    font-size: 10px;
    font-weight: bold;
    color: white; /* Set the font color */
  }
  
  
 

@media only screen and (max-width:992px){
    .product__info h3 a {
        font-size: 1.1rem;
    }
    .grey{
        background-color: rgb(240, 255, 244);
        border-radius: 20px;
        margin: 5px;
      }

    
}

@media only screen and (max-width:768px){
    .product__info h3 a {
        font-size: 1rem;
    }

    .product__card-bottom span i {
        font-size: 1rem;
    }
}